*{box-sizing:border-box;}

body:hover { transition: all 5s;
           }

form {width: 90%;
     margin: auto;
     display: flex;
     justify-content: center;  
     flex-wrap: wrap;}

img{width: 100%;
   display: block;
    position: relative;
    animation: 2s;}

h1{text-align: center;}

.choix {border: solid 2px gray;
    border-radius: 50px;
    width:25%;
    padding: 10px;
    margin:90px;
    text-align: center;
    box-shadow: indigo 2px 2px 2px 2px;
   margin-bottom: 10px;
}
.couleur {border: solid 2px gray;
    border-radius: 50px;
    width:25%;
    padding: 10px;
    margin:90px;
    text-align: center;
    box-shadow: indigo 2px 2px 2px 2px;
   margin-bottom: 10px;
}
.puissance {border: solid 2px gray;
    border-radius: 50px;
    width:25%;
    padding: 10px;
    margin:90px;
    text-align: center;
    box-shadow: indigo 2px 2px 2px 2px;
   margin-bottom: 10px;
}
.options {border: solid 2px gray;
    border-radius: 50px;
    width:25%;
    padding: 10px;
    margin:90px;
    text-align: center;
    box-shadow: indigo 2px 2px 2px 2px;
   margin-bottom: 10px;
}
input {border: solid 2px gray;
      border-radius: 50px;
      width:30%;
      margin:150px;
      text-align: center;
      display:flex;
      justify-content: center;
      align-items: center;
      box-shadow: indigo 2px 2px ;
      padding: 30px;
      font-family:'Poiret One', cursive;
      font-size: 20px;
    }

.typesvoiture {text-align: center;
                white-space: 10px;
                width: 100%;
                font-family:'Poiret One', cursive;
                font-size: 40px;
                text-transform: uppercase;
                
                
               
        }
.choix:hover { background-color: cyan;
              transition: all 5s ease-out;
            }
.couleur:hover { background-color: cyan;
                transition: all 5s ease-out;
            }
.puissance:hover { background-color: cyan;
                   transition: all 5s ease-out;
                }
.options:hover { background-color: cyan;
                  transition: all 5s ease-out;
                }

.z {position: absolute;
    width: 100%;

}
.header { width: 100%;
        position: relative;
        top: 40px;

    }

@keyframes fondu {
    0% {opacity: 0;}
    100% {opacity: 1;}
}